.dashboard-main-div{
    margin-left: 90px;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif !important;
}

.nurse-dashboard-main-div{
    margin-top: 80px;
    margin-left: 90px;
    margin-right: 20px;
}

.opd-patient-main-div{
    margin-top: 20px;
    border: 1px rgba(10, 10, 10, 0.13) solid;
    height: max-content;
    padding: 20px;
}

.db-referral{
    padding-top: 10px !important;
}

.patient-list-header{
    background-color: #fff;
    color: gray;
    height: max-content;
    min-height: 40px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.patient-list-content{
    background-color: #fff;
    height: max-content;
    min-height: 40px;
    margin-top: 5px;
    padding: 2px ;
    font-family: Arial, Helvetica, sans-serif;
}

.waiting-time{
    color: red;
}

.dashboard-list-icon{
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.ehr-link-icon {
    margin-left: 95%;
}

.doc_dashBoard_dropdown{
    background-color: #fff;
    width: 200px;
}

.doc_dashBoard_input{
    width: 300px;
    padding-left: 5px;
}

.doc_dashBoard_input_div{
    height: 38px !important;
    padding-left: 2px;
    padding-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.state-icon{
    height: 18px;
    width: 18px;
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 4px;
    font-size: 12px !important;
}

.vital-icon{
    color: green;
    border: 1px solid green;
}

.r-icon{
    color:red;
    border: 1px solid red;
}

.p-icon{
    color: blue;
    border: 1px solid blue;
}

.circle-icon{
    border-radius: 50%;
    padding-left: 6px;
}

.db_priority_button{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: -3px;
    border-radius: 4px;
    font-size: 12px;
}

.normal-button{
    background-color: green !important;
    color:white;
}

.urgent-button{
    background-color: yellow !important;
    color: #000 !important;
}

.veryUrgent-button{
    background-color: red !important;
    color: #fff;
}

.started-button{
    background-color: violet !important;
    color: #000 !important; 
}

.doc-db-pagination{
    display: table;
    margin: 0 auto;
    text-align: left;
    margin-top: 15px !important;
}

.center-db-icon{
    /* display: block;
    margin: 0 auto; */
    margin-left: 20px;
}