.admin-dashboard-main-div{
    margin: 112px 20px 20px 90px;
    font-family: 'Roboto', sans-serif !important;
}

.admin-landing-page-line-one{
    font-size: 20px;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto -15px auto;
}

.admin-landing-page-line-two{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto 0 auto;
}

.landing-page-logo {
    height: 80px;
    position: relative;
    left: -8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px;
}